@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  
}

body {
  background-color: black;
}


/* 

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(20deg);
  }
  40%,
  80% {
    transform: rotate(-20deg);
  }
}

.waving-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%; 
} */
